[submodule "apps/backend/bizchat"]
	path = apps/backend/bizchat
	url = https://github.com/eachcorp/4prop-bizchat.git
[submodule "apps/backend/property-pub"]
	path = apps/backend/property-pub
	url = https://github.com/eachcorp/property-pub-web.git
[submodule "apps/frontend/property-pub-react"]
	path = apps/frontend/property-pub-react
	url = git@github.com:masxdesign/react-4prop-agentb.git
[submodule "packages/backend-shared/oauth"]
	path = packages/backend-shared/oauth
	url = https://github.com/masxdesign/4prop-oauth-plugin.git
[submodule "apps/frontend/4prop-crm-react"]
	path = apps/frontend/4prop-crm-react
	url = https://github.com/masxdesign/react-4prop-crm.git
[submodule "apps/frontend/bizchat"]
	path = apps/frontend/bizchat
	url = https://github.com/masxdesign/react-bizchat-vite.git
[submodule "packages/backend-shared/mailer"]
	path = packages/backend-shared/mailer
	url = https://github.com/masxdesign/4prop-mailer.git
[submodule "packages/backend-shared/db-utils"]
	path = packages/backend-shared/db-utils
	url = https://github.com/masxdesign/4prop-db-utils.git
[submodule "packages/frontend-shared/cursor-info-card"]
	path = packages/frontend-shared/cursor-info-card
	url = https://github.com/masxdesign/4prop-cursor-info-card.git
[submodule "packages/frontend-shared/property-enhance"]
	path = packages/frontend-shared/property-enhance
	url = https://github.com/masxdesign/4prop-property-enhance.git
[submodule "packages/frontend-shared/brand-theme"]
	path = packages/frontend-shared/brand-theme
	url = https://github.com/masxdesign/4prop-brand-theme.git
[submodule "packages/frontend-shared/requirement-enhance"]
	path = packages/frontend-shared/requirement-enhance
	url = https://github.com/masxdesign/4prop-requirement-enhance.git
[submodule "packages/frontend-shared/seo-enhance"]
	path = packages/frontend-shared/seo-enhance
	url = https://github.com/masxdesign/4prop-seo-enhance.git
[submodule "packages/backend-shared/stripe"]
	path = packages/backend-shared/stripe
	url = https://github.com/masxdesign/4prop-stripe.git
[submodule "packages/backend-shared/listing"]
	path = packages/backend-shared/listing
	url = https://github.com/masxdesign/4prop-listing.git
